@*@model IntelligenceCloud.Models.Attachment
*@
@model IntelligenceCloud.Models.AttachViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@*因為要上傳檔案encrtype*@
@using (Html.BeginForm("Uploaded", "Attachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*因為上傳多個檔案，使用html5 multiple屬性*@
    <input type="file" name="AttachFiles" multiple />
    <input type="submit" value="上傳" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
